<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label class="first">Menu</label></li>
		<li><a href="#">Home</a></li>
		<li><a href="#">Schedule</a></li>
		<li><a href="#">Settings</a></li>
	</ul>	
</aside>

<nav class="tab-bar show-for-small">
	<a class="left-off-canvas-toggle menu-icon">
		<span>Menu</span>
	</a>
</nav>

<!--use Foundation top-bar element for all but small screens-->
<nav class="top-bar hide-for-small" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">Menu</a></h1>
		</li>
	</ul>

	<section class="top-bar-section">
		<ul class="right">
			<li class="divider"></li>
			<li><a href="#" class="">Home</a></li>
			<li class="divider"></li>
			<li><a href="#" class="">Schedule</a></li>
			<li class="divider"></li>
			<li><a href="#" class="">Settings</a></li>
		</ul>
	</section>
</nav>						
				
<a class="exit-off-canvas" href="#"></a>